<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example App Two</title>
</head>
<body>

    <div class="row text-center" style="padding: 5%">
        <div class="col">
            <h4 class="example-app-two-h-four">Welcome to {{data}}!</h4>
        </div>
    </div>

    <div class="row text-center" style="padding: 5%">
        <div class="col">
            <button class="btn btn-success" katana-click="exampleAppTwo.toggleColor">Click Me!</button>
        </div>
    </div>


</body>
</html>
